# Azure SQL Database
DB_CONNECTION_STRING=Server=tcp:serviapp1.database.windows.net,1433;Initial Catalog=free-sql-db-5298329;Persist Security Info=False;User ID=serviapp;Password=YOUR_PASSWORD_HERE;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;

# Azure Storage
AZURE_STORAGE_CONNECTION_STRING=DefaultEndpointsProtocol=https;AccountName=serviapp;AccountKey=YOUR_KEY_HERE;EndpointSuffix=core.windows.net
AZURE_BLOB_CONTAINER=fotosclientesyempleados
AZURE_ANTECEDENTES_CONTAINER=antecedentes
AZURE_EVIDENCIAS_CONTAINER=evidencias

# Servidor
PORT=3000
